name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run RepoSwarm
        shell: bash
        run: |
          curl https://mise.run | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          mise --version
          mise install
          mise run dev-dependencies
          mise investigate-one https://github.com/marketingcraze/PWA-LIVE

