name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run RepoSwarm
        run: |
          shell: bash
          curl https://mise.run | sh
          mise install
          mise run dev-dependencies
          mise investigate-one https://github.com/marketingcraze/PWA-LIVE
