name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Run RepoSwarm
        run: |
          curl https://mise.run | sh
          mise install
          mise run dev-dependencies
          mise investigate-one https://github.com/marketingcraze/PWA-LIVE

